body{
    background-color: white;
}

*{
    margin: 0;
    padding: 0;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: black;
    color: white;
    height: 49px;
}

.brand img{
    width:44px;
    padding: 0 8px;

}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

nav ul li{
    padding: 0 12px;
}

.container{
    min-height: 66vh;
    background-color: black;
    color: white;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background: url('https://www.scdn.co/i/free/bubbles-mobile.svg') center center / 100% 927px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166)) rgb(108, 14, 224);
    background-position: center center;
    background-repeat: no-repeat;
    
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#myProgressBar{
    width: 75vw;
    cursor: pointer;
}

.icon{
    margin-top: 13px;
}
.icon i{
    cursor: pointer;
}

.songItem{
    background-color: white;
    color: black;
    width: 74%;
    margin: 13px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.songItem img{
    width: 13%;
}

.timestamp{
    margin: 0 23px;
}
.timestamp i{
    cursor: pointer;
}

.songItemContainer{
    margin: 30px 0;
}
.songInfo{
    position: absolute;
    left: 12vw;

}
.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}



