body{
    background-color: white;
    font-family: 'Merriweather Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: black;
    color: white;
    height: 49px;
    font-family: 'Ubuntu', sans-serif;
}

.brand img{
    width:44px;
    padding: 0 8px;

}
.brand{
    font-family: 'Montserrat Alternates', sans-serif;
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.4rem;
    
}

nav ul li{
    padding: 0 12px;
}

.container{
    min-height: 66vh;
    background-color: black;
    color: white;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background: url('https://www.scdn.co/i/free/bubbles-mobile.svg') center center / 100% 927px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166)) rgb(108, 14, 224);
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 90px;
    background-color: #121212;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#myProgressBar{
    width: 75vw;
    cursor: pointer;
    height: 3px;
}

#myProgressBar:hover{
    height: 3.5px;
}

.icon{
    margin-top: 13px;
}
.icon i{
    cursor: pointer;
}

.songItem{
    background-color: white;
    color: black;
    width: 90%;
    margin: 13px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    border-radius: 13px;
    
}
.songItem:hover{
    border: #121212 solid 0.3px;
    font-size: 15px;
}

.songItem img{
    width: 15%;
    height: 60px;
}

.timestamp{
    margin: 0 23px;
}
.timestamp i{
    cursor: pointer;
}

.songItemContainer{
    margin: 30px 0;
}
.songInfo{
    position: absolute;
    left: 12vw;

}
.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

.masterplayClass{
    color: red;
    font-size: 1.5rem;
}
.songBanner{
    display: flex;
    margin: auto;
}
.songBanner img{
    
    opacity: 0;
    transition: opacity 0.4s ease-in;
    border: 6px solid black;
    width: 70%;
}

.copyright{
    position: absolute;
    right: 0;
    font-weight: bolder;
}
#previous:hover{
    color: grey;
}
#next:hover{
    color:#ffffffb3 ;
}
@media screen and (max-width: 920px) {
    
    .songBanner img{
        visibility: hidden;
    }
    .songItem{
        width: 100%;
    }
    .songBanner{
        width: 0;
    }
    h1{
        font-size: 22px;
    }
    body{
        font-size: 12px;
    }
    .brand{
        font-size: 20px;
    }
    .songInfo{
        position: static;
        margin-top: 5px;
    }
  }

  @media screen and (max-width:400px) {
        h1{
            font-size: 15px;
        }
        .songItem img{
            width: 25%;
        }
       
  }